<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.file.mapper.FileMapper">
<resultMap id="FileMap" type="com.spring.file.model.FileDto">
  <result column="FILE_ID" property="fileId"/>
  <result column="FILE_PATH" property="filePath"/>
  <result column="FILE_NM" property="fileName"/>
  <result column="FILE_XTNS" property="fileExtension"/>
  <result column="FILE_SIZE" property="fileSize"/>
  <result column="SVC_CD" property="serviceCode"/>
  <result column="TBL_NM" property="tableName"/>
  <result column="DSTN_CLMN_VAL" property="distinguishColumnValue"/>
</resultMap>

<insert id="insertBulk" parameterType="java.util.List">
  INSERT INTO TB_FILE (
    FILE_ID
    , FILE_PATH
    , FILE_NM
    , FILE_XTNS
    , FILE_SIZE
    , SVC_CD
    , TBL_NM
    , DSTN_CLMN_VAL
  ) VALUES
  <foreach collection="list" item="item" separator=",">
  (
    #{item.fileId}
    , #{item.filePath}
    , #{item.fileName}
    , #{item.fileExtension}
    , #{item.fileSize}
    , #{item.serviceCode}
    , #{item.tableName}
    , #{item.distinguishColumnValue}
  )
  </foreach>
</insert>

<delete id="deleteByFileIds">
  DELETE FROM TB_FILE
  WHERE FILE_ID IN
  <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
    #{fileId}
  </foreach>
</delete>

<select id="findByFileId" parameterType="string" resultMap="FileMap">
  SELECT
    FILE_ID
    , FILE_PATH
    , FILE_NM
    , FILE_XTNS
    , FILE_SIZE
    , SVC_CD
    , TBL_NM
    , DSTN_CLMN_VAL
    , PROC_PRGM_ID
    , RGST_PROCR_ID
    , RGST_PROC_DTM
    , UPDT_PROCR_ID
    , UPDT_PROC_DTM
  FROM
      TB_FILE
  WHERE
      FILE_ID = #{fileId}
</select>

<select id="findByFileIds" resultMap="FileMap">
  SELECT
    FILE_ID
    , FILE_PATH
    , FILE_NM
    , FILE_XTNS
    , FILE_SIZE
    , SVC_CD
    , TBL_NM
    , DSTN_CLMN_VAL
    , PROC_PRGM_ID
    , RGST_PROCR_ID
    , RGST_PROC_DTM
    , UPDT_PROCR_ID
    , UPDT_PROC_DTM
  FROM
      TB_FILE
  WHERE FILE_ID IN
  <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
    #{fileId}
  </foreach>
</select>

<select id="findByService" parameterType="com.spring.file.model.FileDto" resultMap="FileMap">
  SELECT
    FILE_ID
    , FILE_PATH
    , FILE_NM
    , FILE_XTNS
    , FILE_SIZE
    , SVC_CD
    , TBL_NM
    , DSTN_CLMN_VAL
    , PROC_PRGM_ID
    , RGST_PROCR_ID
    , RGST_PROC_DTM
    , UPDT_PROCR_ID
    , UPDT_PROC_DTM
  FROM
      TB_FILE
  <where>
    <if test="serviceCode != null and serviceCode != ''">
        AND SVC_CD = #{serviceCode}
    </if>
    <if test="tableName != null and tableName != ''">
        AND TBL_NM = #{tableName}
    </if>
    <if test="distinguishColumnValue != null and distinguishColumnValue != ''">
        AND DSTN_CLMN_VAL = #{distinguishColumnValue}
    </if>
  </where>
</select>
</mapper>